label.error {
	font-size: 12px;
	font-weight: bold;
	margin-top: -15px;
	position: absolute;
	float: right;
	right: 4px;
	display: block;
	color: #7a2a2a;
}

.ui-input-text.error {
	background-color: #ffbbbb;
}
