<div data-role="page"> 
	<script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<!--script type="text/javascript" src="js/jqplot/jqplot.logAxisRenderer.min.js"></script> -->


	<script type="text/javascript">
		var renderCharts = function(){
			var meterData = webdb.getMeterData("", function(data) {

				var lineElectro = [];
				var lineGas = [];
				for (i in data) {
					row = data[i];
					if (i == 0) {
						continue;
					}

					var days = moment(data[i].date).diff(data[i -1].date, "days");
					var valueElectricity = data[i].electricity - data[i - 1].electricity;
					var valueGas = (data[i].gas - data[i - 1].gas) / days;
					var meanDate = moment(data[i].date).subtract("days", days / 2).format("YYYY-MM-DD");
					
					console.log(meanDate);

					lineElectro.push([meanDate, valueElectricity]);
					lineGas.push([meanDate, valueGas]);

				}
				
				var plot2 = $.jqplot('chart1', [lineGas], {
					title : _("Gas Consumption"),
					axes : {
						xaxis : {
							renderer : $.jqplot.DateAxisRenderer,
							tickOptions : {
								formatString : '%b %Y'
							},
							min : '2012-10-01',
							tickInterval : '1 month',
							autoscale : true,
						},
						yaxis : {
							autoscale : true,
							label: _("Gas (m³)"),
							labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						},
						y2axis : {
							autoscale : true,
							tickOptions : {
								showGridline : false
							}
						},
					},
					series : [{
						showMarker: false,
						rendererOptions: {
							smooth: true,
							
						}

					}, {
						yaxis : 'y2axis',
						showMarker: false,
						rendererOptions: {
							smooth: true,
							
						}
					}]
				});
			});

		}
	
		$(document).bind("pageshow", function() {
			console.log("init chart")

			renderCharts();
			
		});

	</script>
	<div data-role="header"><h4>Home</h4></div> 
	<div data-role="content">...
		<div id="chart1" style="height:400px;width:100%; "></div>
	</div> 
	<div id="footer" data-role="footer" data-id="global-footer" data-position="fixed">
				
	</div>
</div> 