


<div id="page-data" data-role="page"> 
	<script type="text/javascript">
	var view = {"rows": []};
		$(document).bind("pagebeforecreate", function(event, data){
			// Load data
			
			webdb.getMeterData("", function(data){
				var template = "<tr><td>{{date}}</td><td>{{electricity}}</td><td>{{gas}}</td></tr>";
				for (i in data){
					var row = data[i];
					view = {"date": row.date, "electricity": row.electricity, "gas": row.gas};
					$("#data-table tbody").append($.mustache(template, view));
				}
				$("#data-table").table( "refresh" );
			})
			
			// Translate
			translateAll("#page-data");

			
		})
	</script>

	
	<div data-role="header"><h4 class="translate">Energy consumption by date</h4></div> 
	<div id="page-data-content" data-role="content">
		<table id="data-table" date-role="table" data-mode="reflow">
			<thead>
				<tr>
					<th class="translate">Date</th>
					<th class="translate">Electricity (kWh)</th>
					<th class="translate">Gas (m³)</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div> 
	<div class="footer" data-role="footer" data-id="global-footer" data-position="fixed">
				
	</div>
</div> 