<div data-role="navbar" data-iconpos="top" >
	<ul>
		<li><a href="settings.html" data-icon="gear">Settings</a></li>
		<li><a href="index.html" data-icon="home" class="ui-btn-active ui-state-persist">Dashboard</a></li>
		<li><a href="charts.html" data-icon="star">Charts</a></li>
	</ul>
</div>