
<div id="page-newdata" data-role="page"> 
	<script type="text/javascript">
		$(document).bind("pagebeforecreate", function(event, data){
			// Translate
			translateAll("#page-newdata");

			// Set now
			$("#date").val(moment().format(DATE_FORMAT));
			
			$("#form-newdata").validate({
				rules: {
					"gas": {
						"number": _("Value has to be a number")
					},
					"electricity": {
						"number": _("Value has to be a number")
					},
				},
				// errorPlacement: function(error, element){
					// $(element).parent().addClass("error");
					// error.insertAfter(element);
				// },
				// success: function(element){
					// $(element).parent().removeClass("error");
				// }
				highlight: function(element, errorClass, validClass){
					$(element).parent().addClass("error");
				},
				unhighlight: function(element, errorClass, validClass){
					$(element).parent().removeClass("error");
				}
			});
			
			// Submit function
			$("#form-newdata").submit(function(e){
				e.preventDefault();
				var date = moment($("#date").val(), DATE_FORMAT).format("YYYY-MM-DD"); // Convert to datebase format
				var electricity = $("#electricity").val();
				var gas = $("#gas").val();
				
				if ($("#form-newdata .error").length){
					$("#popupErrorContent").text(_("Please correct invalid fields."));
					$("#popupError").popup("open");
					return;
				}
				
				if (!gas && !electricity){
					// At least one field should have a value
					$("#popupErrorContent").text(_("Fill in at least one field."));
					$("#popupError").popup("open");
				} else {
					// Proceed with inserting value in DB
					webdb.insertValue(electricity, gas, date,
						function(){
							// Success
							location = "index.html";
						},
						function(){
							// Error
							$("#popupErrorContent").text(_("Could not save data"));
							$("#popupError").popup("open");
						}
					);
				}
			});
			
			// File input mode
			$("#form-newdata-file").submit(function(e){
				e.preventDefault();
				
				var file = document.getElementById("file-input").files[0];
				console.log(file);
				if (file.type != "text/csv") {
					// Can only upload csv files
					$("#popupErrorContent").text(_("Can only upload comma or semicolon separated CSV files."));
					$("#popupError").popup("open");
				}
				
				console.log("reader");
				// setup reader
				var reader = new FileReader();
				reader.onload = function(event){
					var data = event.target.result;
					var rows = data.split("\n");
					var n = rows.length;
					var n_success = 0;
					var n_failed = 0;
					var done = function(){
						location = "index.html";	
					}
					
					for (var i in rows){
						// Set row
						var row = rows[i];
						
						// Check the format of the CSV
						if (row.match(/[\d-]+,\d+,\d+$/)){
							var s = ",";
						} else if (row.match(/[\d-]+;\d+;\d+$/)){
							var s = ";";
						} else {
							continue;
						}
						
						// Split row in fields
						var fields = row.split(s);
						var date = moment(fields[0]).format("YYYY-MM-DD");
						var electricity = fields[1];
						var gas = fields[2];
			
						// Proceed with inserting value in DB
						webdb.insertValue(electricity, gas, date,
							function(){
								// Success
								n_success += 1;
								console.log(n_success+n_failed+ "/" + n);
								if (n_success + n_failed == n){
									done();
								}
							},
							function(){
								// Error
								n_failed += 1;
								console.log(n_success+n_failed+ "/" + n);
								if (n_success + n_failed == n){
									done();
								}
							}
						);
					}
					
				};
				
				// Read the csv
				reader.readAsText(file);
			});
			
			$("#mode").on("change", function(event, ui){
				if ($("#mode").val() == "file"){
					$("#form-newdata").hide();
					$("#form-newdata-file").show();
				} else {
					$("#form-newdata").show();
					$("#form-newdata-file").hide();
				}
			})
		})
	</script>

	
	<div data-role="header"><h4 class="translate">Enter new data</h4></div> 
	<div data-role="content">
		<div data-role="popup" id="popupError" data-theme="c">
			<p id="popupErrorContent" class="translate"><p>
		</div>
		
		<div data-role="fieldcontain">
			<label for="mode" class="translate">Mode:</label>
			<select name="mode" id="mode" data-role="slider">
				<option value="manual" class="translate">Manual</option>
				<option value="file" class="translate">File</option>
			</select> 
		</div>
		
		<form id="form-newdata-file" action="index.html" method="get" data-ajax="false" style="display: none">
			<input type="file" id="file-input" name="file-input"/>
			<button id="save-file" class="translate">Save</button>
		</form>
		
		<form id="form-newdata" action="index.html" method="get" data-ajax="false">
			<div data-role="fieldcontain">
				<label for="date" class="translate">Date:</label>
				<input value="" id="date" type="text" class="date-input" class="translate"/>
			</div>
			
			<div data-role="fieldcontain">
				<label for="electricity" class="translate">Electricity:</label>
				<input placeholder="Electricity consumption in kWh" id="electricity" name="electricity" type="text" class="translate"/>
			</div>
			
			<div data-role="fieldcontain">
				<label for="gas" class="translate">Gas:</label>
				<input placeholder="Gas consumption in m³" id="gas" name="gas" type="text" class="translate"/>
			</div>
			
			<button id="save" class="translate">Save</button>
		</form>
	</div> 
	<div class="footer" data-role="footer" data-id="global-footer" data-position="fixed">
				
	</div>
</div> 