<div data-role="page"> 
	<div data-role="header"><h4>Settings</h4></div> 
	<div data-role="content">...
		bla
		bla
	</div> 
	<div data-role="footer" data-id="global-footer" data-position="fixed">
		<div data-role="navbar" data-iconpos="top" >
			<ul>
				<li><a href="settings.html" data-icon="gear" class="ui-btn-active ui-state-persist">Settings</a></li>
				<li><a href="index.html" data-icon="home">Dashboard</a></li>
				<li><a href="#" data-icon="refresh">Reload</a></li>
			</ul>
		</div>
	</div>
</div> 